<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp!!!</title>

</head>
<body>
        <h1><a href="/urls/new">NEW URL</a></h1>

    <header>
      <% include partials/_header %>
    </header>
    <!-- Add your EJS code here -->
    <h1><%  urls %></h1>

    <ul>
        <% for (var shortUrls in urls) { %>
            <li>Key for URL: <%= shortUrls %> and the link to the site is <a href="<%= urls[shortUrls] %>"><%= urls[shortUrls] %></a>
            
                <form method="POST" action= "/urls/<%=shortUrls%>/delete"%></form>
                    <button type="submit">DELETE</button>

                <a href=<%=`/urls/${shortUrls}`%>>Edit</a>
                  

              

                 
                </form>
            </li>
       
    </ul>
    <ul>
       
        <% }; %>


    </ul>
</body>
</html>